:root {
    --main_text: #2F3035;
    --accent: #1C62CD;
    --base_color:#F0F0F4;
    --light_grey_text: #c4c4c4;
    --white_color:#ffff;
}


*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    color: var(--main_text);
}

body {
    width: 100vw;
    height: 100vh;
}

.header, .burger_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger_menu {
    padding: 20px;
}

.logo_text{
    font-size: 26px;
    font-weight: 600;
}


.burger_nav{
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--main_text);
    opacity: 0.9;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.burger_nav ul li {
    color: var(--white_color);
    padding: 10px;
    border-bottom: 1px solid var(--white_color);
}

.active {
    display: block;
}


.baner_box {
    width: 100vw;
    height: 50vw;
    background-image: url("./img/goods/water_scooter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.baner_text {
    color: var(--white_color);
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
}

.pagination {
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid var(--white_color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.promotion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--light_grey_text);
}



.promotion_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.promotion_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: 10px 20px;
}

.promotion_text p {
    font-size: 12px;
    font-weight: 700;
    color: var(--white_color);
    text-transform: uppercase;
}

.promotion_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main_price {
    font-size: 27px;
    font-weight: 700;
    color: var(--accent);
}


.past_price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--light_grey_text);
}



.promo_condition{
    width: 100%;
    padding: 25px 20px;
    background-color: var(--base_color);
    text-align: center;
    font-size: 20px;
}

.promo_condition span {
    color: var(--accent);
    font-size: 20px;
    font-weight: 500;
}

.goods_categori{
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter p{
    padding: 10px 0 10px 10px;
    font-size: 20px;
}


.filter p:hover {
    border-bottom: 2px solid var(--accent);
}