:root {
    --main_text: #2F3035;
    --accent: #1C62CD;
    --base_color:#F0F0F4;
    --light_grey_text: #c4c4c4;
    --white_color:#ffff;
}


*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    color: var(--main_text);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header{
    position: fixed;
    background-color: var(--white_color);
    z-index: 2;
}

.blank{
    height: 75px;
}

.header, .burger_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_desktop {
    display: none;
}


.burger_menu {
    padding: 20px;
}

.logo_text{
    font-size: 26px;
    font-weight: 600;
}

.category_name {
    font-size: 25px;
    font-weight: 700;
}


.burger_nav{
    position: relative;
    position: fixed;
    top: 0;
    left: -80%;
    background-color: var(--main_text);
    opacity: 0.9;
    width: 80%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}


.border_bottom_nav{
}

.border_bottom_nav:before{
    position:absolute;
    top:25px;
    left:-70px;
    width:150%;
    border-top:0.3px solid #000000;
    content:"";
    filter: invert(1);
}


.burger_nav ul li {
    color: var(--white_color);
    margin-bottom: 46px;
    position: relative;
    margin-left: 53px;
}

.burger_nav ul li:first-child{
    margin-top: 46px;
}

.burger_img:hover + .burger_nav, .burger_nav:hover {
    left: 0;
    cursor: pointer;
}

.active {
    display: block;
}

.sign_icon{
    position: absolute;
    top: 49px;
    left: 10px;
    filter: invert(1);
}

.register_icon{
    position: absolute;
    top: 115px;
    left: 10px;
    filter: invert(1);
}

.love_icon{
    position: absolute;
    top: 180px;
    left: 10px;
    filter: invert(1);
}

.buy_icon{
    position: absolute;
    top: 245px;
    left: 10px;
    filter: invert(1);
}

.market_icon{
    position: absolute;
    top: 313px;
    left: 15px;
    filter: invert(1);
}

.procent_icon{
    position: absolute;
    top: 380px;
    left: 15px;
    filter: invert(1);
}

.delivery_icon{
    position: absolute;
    top: 450px;
    left: 15px;
    filter: invert(1);
}


.baner_box {
    position: relative;
    width: 100vw;
    height: 50vw;
    background-image: url("./img/goods/water_scooter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide p {
    text-align: start;
    font-size: 5vw;
    max-width: 500px;
}

.pagination {
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid var(--white_color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.promotion{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 1px solid var(--light_grey_text);
}



.promotion_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.promotion_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: 10px 20px;
    max-height: 70px;
}

.promotion_text p {
    font-size: 20px;
    font-weight: 700;
    color: var(--white_color);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.promotion_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main_price {
    font-size: 27px;
    font-weight: 700;
    color: var(--accent);
}


.past_price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--light_grey_text);
}



.promo_condition{
    width: 100%;
    padding: 25px 20px;
    background-color: var(--base_color);
    text-align: center;
    font-size: 20px;
}

.promo_condition span {
    color: var(--accent);
    font-size: 20px;
    font-weight: 500;
}

.goods_categori{
    width: 100%;
    margin-bottom: 80px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.filter p{
    cursor: pointer;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}


.filter p:hover {
    border-bottom: 2px solid var(--accent);
}

.search_form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    position: relative;
}

.search_form input {
    width: 95%;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: var(--base_color);
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 15px;}


.search_form input:focus {
    border: 2px solid var(--accent);
    outline-color: var(--accent);
}

.good_category {
    cursor: pointer;
    border: 1px solid var(--light_grey_text);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

.category_box{
    width: 80%;
    margin: 0 auto;
}

.good_categori_name {
    font-size: 23px;
    font-weight: 800;
    color: var(--accent);
}

.details {
    font-size: 14px;
    margin-top: 48px;
    font-weight: 400;
    color: var(--light_grey_text);
}

.good_category img{
    position: absolute;
    bottom: 13px;
    right: 13px;
}



.popular_item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popular_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular_head ul { 
    display: flex;
    margin-top: 25px;
}

.popular_head ul li {
    cursor: pointer;
    margin-left: 13px;
}

.popular_head ul li:first-child{
    margin-left: 0px;
}

.popular_head ul li:hover {
    font-weight: 700;
    border-bottom: 2px solid var(--accent)
}

.popular_body{
    margin-top: 21.68px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_card{
    border: 2px solid var(--light_grey_text);
    border-radius: 5px;
}

.popular_main_text {
    margin-top: 13.01px;
    font-size: 18px;
    font-weight: 400;
}

.popular_price{
    margin-top: 25.02px;
    margin-bottom: 23.02px;
    font-size: 30px;
    font-weight: 700;
}

.popular_pagination{
    display: flex;
    justify-content: center;
    margin-top: 20.02px;
}

.popular_pagination li{
    width: 14.29px;
    height: 14.01px;
    background-color: #C4C4C4;
    border-radius: 50%;
    border: 1px solid var(--white_color);
    margin-left: 22.46px;
}

.popular_pagination li:first-child{
    margin-left: 0;
}

.popular_pagination li:hover{
    background-color: var(--accent);
}

.see_more {
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    margin-top: 37.91px;
    background-color: var(--base_color);
    display: flex;
    justify-content: center;
    padding: 17px 43px 15px 43px;
}


.baner_ad {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90px;
    background-color: var(--accent);
    position: relative;
}

.main_text_ad p {
    margin-top: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--white_color);
}

.look_all{
    margin: 0 auto;
    max-width: 200px;
    max-height: 100px;
    margin-top: 8px;
    margin-bottom: 7px;
    background-color: var(--white_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.look_all p{
    cursor: pointer;
    color: var(--main_text);
    font-size: 14px;
    font-weight: 500;
    padding: 8px 13px;
}

.look_all_box{
   display: flex;
   
}

.cvadro_ad {
    width: 66.56px;
    height: 54px;
    margin-right: 7.5px;
    position: absolute;
    top: 35px;
    left: 9.38px;
}
.all_ad {
    position: absolute;
    top: 39px;
    right: 12.19px;
    width: 69.38px;
    height: 48px;
    transform: scaleX(-1);
}

.baner_text {
    color: var(--white_color);
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 15%;
    left: 10px;
    text-align: center;
    z-index: 3;
}

.popular_card_2{
    display: none;
}

.motor_adapt{
    max-height: 110px;
    max-width: 60px;
}

.promo_desk {
display: none;
}

.baner_box_desk {
    display: none;
}


@media (min-width:720px) and (max-width:1000px) {

    .promo_desk{
    display: none;
    }

    .category_box{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    .good_category{
        width: calc(90%/2 );
    }


    .burger_nav ul li{
        font-size: 28px;
    }

    .border_bottom_nav:before{
        position:absolute;
        top:33px;
        left:-80px;
        width:150%;
        border-top:2px solid #000000;
        content:"";
        filter: invert(1);
    }

    .burger_nav ul img{
        margin-top:10px ;
        width: 40px;
    }

    .burger_nav ul li {
        margin-bottom: 46px;
        margin-left: 73px;
    }


    .sign_icon{
        top:32px;
    }

    .love_icon{
        top: 197px;
    }

    .buy_icon{
        top: 281px;
    }

    .market_icon{
        top: 345px;
        left: 10px;
    }
    .delivery_icon{
        left: 10px;
        top: 435px;
    }

    .procent_icon{
        top: 510px;
    }
    
   .header img{
    width: 50px;
   }

   .header p {
    font-size: 50px;
   }

   .baner_box p {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 40px;
   }

   .pagination{
    width: 200px;
   }

   .pagination li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid var(--white_color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.promo_good_name{
    font-size: 40px;
}

.promotion_card p {
    font-size: 40px;
}

.promotion_text p{
    padding: 40px;
    font-size: 40px;
}


.promotion img{
    width: 200px;
}

.promo_condition {
    font-size: 30px;
}

.promo_condition span {
    font-size: 30px;
}

.filter p{
    font-size: 20px;
}

.search_form input{
    padding: 25px 15px;
}

.search_form svg{
    margin-right: 20px;
    margin-top: 10px;
}

.good_category img{
    width: 120px;
}

.good_category_name{
    font-size: 25px;
}

.details {
    font-size: 15px;
}

.category_name{
    font-size: 40px;
}

.popular_head ul li {
    cursor: pointer;
    font-size: 20px;
}

.popular_body img {
    width: 300px;
}

.popular_main_text{
    font-size: 30px;
}

.popular_price{
    font-size: 50px;
}



.popular_pagination li{
    width: 30px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 50%;
    border: 3px solid var(--white_color);
    margin-left: 22.46px;
}

.see_more p{
    font-size: 20px;
    padding: 30px 80px;
}

.baner_ad {
    height: 150px;
}

.baner_ad p{
    cursor: pointer;
    font-size: 25px;
}

.baner_ad img{
    width: 150px;
    height: 100px;
}

.look_all p{
    display: flex;
    padding: 15px 25px;
    justify-content: center;
    text-align: center;
}

.look_all_box{
    max-width: 500px;
}

.look_all{
    max-width: 500px;
}

.popular_head ul li {
    margin-left: 25px;
}

.filter{
    margin-top: 20px;
}

.cvadro_ad{
    top: 50px;
}

.all_ad{
    top: 50px;
}

.baner_text{
    top: 10%;
}

}


@media (min-width:1001px){
    .header{
        padding-top:25px ;
        z-index: 5;
        padding-bottom:20px ;
    }

    .promotion{
        display: none;
    }

    .burger_menu {
        display: none;
    }

    .header_desktop{
        display: block;
        width: 100%;
    }

    .header_box_desk{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        justify-content: space-around;
    }

    .header_desktop ul{
        display: flex;
    }

    .header_adress::before{
        content: url(./img/Icon_desk/point.svg);
    }

    .header_box_desk ul li{
        margin-left: 50px;
        cursor: pointer;
    }

    .header_box_desk ul li:hover{
        border-bottom: 2px solid;
    }

    .header_box_desk ul img{
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
    }

    .point_icon{
        display: flex;
        justify-content: space-between;
    }
    .header_adress{
        margin-right: 86px;
    }

    .desktop_head_icon{
        width: 24px;
        cursor: pointer;
    }

    .desktop_head_icon:hover {
        fill: var(--accent);
        border-bottom: 2px solid;
    }

    .logo_desk{
        cursor: pointer;
    }

    .baner_box {
        display: none;
    }

    .baner_box_desk{
        width: 100%;
        display: flex;
        margin-top: 78px;
        justify-content: center;
    }

    .slider_box_desk {
        position: relative;
    }

    .promotion_card_desk{ 
        display: flex;
        justify-content: space-between;
    }
    .promotion_box_desk{
        border: 1px solid var(--light_grey_text);
        margin-left: 36px;
        width: 265px;
        height: 397px;
    }

    .promotion_box_desk p{
        text-align: center;
    }

    .promo_condition_desk{
        margin-top: 28px;
        padding: 25px 20px;
        background-color: var(--base_color);
        text-align: center;
        font-size: 20px;    
    }

    .promo_condition_desk span {
        color: var(--accent);
        font-size: 20px;
        font-weight: 500;
    }

    .search_form {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .search_form input {
        width: 100%;
    }

    .filter_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .filter_box p {
        margin-right:24px ;
    }
    .start {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 75%;
    }

    .category_box{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    .good_category{
        width: calc(90%/3 );
    }

    .good_category, p:hover {
        color: var(--accent);

    }

    .popular_body{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .popular_card_2{
        display: block;
        border: 2px solid var(--light_grey_text);
        border-radius: 5px;
    }
}