:root {
    --main_text: #2F3035;
    --accent: #1C62CD;
    --base_color:#F0F0F4;
    --light_grey_text: #c4c4c4;
    --white_color:#ffff;
}


*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    color: var(--main_text);
}

body {
    width: 100vw;
    height: 100vh;
}

.header, .burger_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger_menu {
    padding: 20px;
}

.logo_text{
    font-size: 26px;
    font-weight: 600;
}

.category_name {
    font-size: 25px;
    font-weight: 700;
}


.burger_nav{
    position: fixed;
    top: 0;
    left: -80%;
    background-color: var(--main_text);
    opacity: 0.9;
    width: 80%;
    height: 100%;
    z-index: 5;
}

.burger_nav ul li {
    color: var(--white_color);
    padding: 10px;
    border-bottom: 1px solid var(--white_color);
    position: relative;
}

.burger_img:hover + .burger_nav, .burger_nav:hover {
    left: 0;
    cursor: pointer;
}

.active {
    display: block;
}

.sign_icon:before {
    content: url(./img/icon/people.svg);
    filter: invert(1);
    position: absolute;
    left: 0px;
}

.register_icon:before{
    content: url(./img/icon/people.svg);
    filter: invert(1);
    position: absolute;
    left: 0px;
}

.baner_box {
    width: 100vw;
    height: 50vw;
    background-image: url("./img/goods/water_scooter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.baner_text {
    color: var(--white_color);
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
}

.pagination {
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid var(--white_color);
    margin: 0 auto;
    margin-bottom: 10px;
}

.promotion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--light_grey_text);
}



.promotion_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.promotion_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: 10px 20px;
    max-height: 40px;
}

.promotion_text p {
    font-size: 12px;
    font-weight: 700;
    color: var(--white_color);
    text-transform: uppercase;
}

.promotion_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main_price {
    font-size: 27px;
    font-weight: 700;
    color: var(--accent);
}


.past_price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--light_grey_text);
}



.promo_condition{
    width: 100%;
    padding: 25px 20px;
    background-color: var(--base_color);
    text-align: center;
    font-size: 20px;
}

.promo_condition span {
    color: var(--accent);
    font-size: 20px;
    font-weight: 500;
}

.goods_categori{
    width: 100%;
    margin-bottom: 80px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter p{
    padding: 10px 0 10px 10px;
    font-size: 20px;
}


.filter p:hover {
    border-bottom: 2px solid var(--accent);
}

.search_form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    position: relative;
}

.search_form input {
    width: 95%;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: var(--base_color);
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 15px;}


.search_form input:focus {
    border: 2px solid var(--accent);
    outline-color: var(--accent);
}

.good_category {
    border: 1px solid var(--light_grey_text);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

.category_box{
    width: 80%;
    margin: 0 auto;
}

.good_categori_name {
    font-size: 23px;
    font-weight: 800;
    color: var(--accent);
}

.details {
    font-size: 14px;
    margin-top: 48px;
    font-weight: 400;
    color: var(--light_grey_text);
}

.good_category img{
    position: absolute;
    bottom: 13px;
    right: 13px;
}


.popular_item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popular_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular_head ul { 
    display: flex;
    margin-top: 25px;
}

.popular_head ul li {
    margin-left: 13px;
}

.popular_head ul li:first-child{
    margin-left: 0px;
}

.popular_head ul li:hover {
    font-weight: 700;
    border-bottom: 2px solid var(--accent)
}

.popular_body{
    margin-top: 21.68px;
    border: 2px solid var(--light_grey_text);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_main_text {
    margin-top: 13.01px;
    font-size: 18px;
    font-weight: 400;
}

.popular_price{
    margin-top: 25.02px;
    margin-bottom: 23.02px;
    font-size: 30px;
    font-weight: 700;
}

.popular_pagination{
    display: flex;
    justify-content: center;
    margin-top: 20.02px;
}

.popular_pagination li{
    width: 14.29px;
    height: 14.01px;
    background-color: #C4C4C4;
    border-radius: 50%;
    border: 1px solid var(--white_color);
    margin-left: 22.46px;
}

.popular_pagination li:first-child{
    margin-left: 0;
}

.popular_pagination li:hover{
    background-color: var(--accent);
}

.see_more {
    width: 90%;
    margin: 0 auto;
    margin-top: 37.91px;
    background-color: var(--base_color);
    display: flex;
    justify-content: center;
    padding: 17px 43px 15px 43px;
}


.baner_ad {
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--accent);
    position: relative;
}

.baner_ad p {
    margin-top: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--white_color);
}

.look_all{
    width: 50%;
    margin-top: 8px;
    background-color: var(--white_color);
}

.look_all p{
    color: var(--main_text);
    font-size: 14px;
    font-weight: 500;
}

.cvadro_ad {
    display: flex;
    
}
.all_ad {
    display: flex;
    align-items: flex-start;
}



@media (min-width:768px) {
    .category_box{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }

    .good_category{
        width: calc(90%/2 );
    }


    .burger_nav ul li{
        font-size: 28px;
        padding: 35px;
    }

    .burger_nav ul li img{
        width: 90px;
    }
}